<!DOCTYPE html>
<html lang="en">
<%- include('templates/head', title)%>
<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-4 bg-dark">
                <div class="row h-25 bg-white">
                    
                </div>
                <div class="row h-75"></div>
            </div>
            <div class="col-8">
                <div class="h-100" id="map-template">
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('templates/footer', title)%>
</html>