<!DOCTYPE html>
<html lang="en">
<%- include('templates/head', title)%>
<body>
    <div class="container">
        <div id="map-template">
            
        </div>
    </div>
</body>
<%- include('templates/footer', title)%>
</html>